
body{
    background-color: #edc97d;
        
}
p{
    font-size:25px;
    font-family: sans-serif;
    align-items:
    
    
}

img{
     padding-left: 375;
   
}

.ctrImg{
    display:block;
    margin:0 auto;
    
   
    


    